---
---

@import "{{ site.theme }}";

header {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    background: #8d928e url(../images/wiki-bg.jpg) 0 0 no-repeat;
    background-repeat: no-repeat;
    background-position: center;
}

header a.button {
    background: transparent url(../images/bg21-button.png) 0 0 no-repeat;
    padding-left: 85px;
    line-height: 1.6;
}

a.button {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

#main-content h1, h2, h3, h4, h5, h6 {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

header {
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    background: #8d928e url(http://i.anodal.org/images/2017/06/18/653e5cf….jpg);
    background-repeat: no-repeat;
    background-position: center;
    /* text-align: center; */
    border-bottom: solid 1px #275da1;
}
